<div class="myWrap" data-bind="click: formOpen, visible: !openForm()"><button id="click-me">Add Brand</button></div>


<div id="custompopup" data-bind="visible: openForm()">
    <div data-bind="visible: hasBeenSubmitted()">
        <h2> Thanks for creating new brand</h2>
    </div>

    <div data-bind="visible: !hasBeenSubmitted()" >
        <form   class="form contact"
                action="POST"
                id="contact"
                method="post"
                data-bind="submit: formSubmit"
                data-mage-init='{"validation":{}}'>

            <fieldset class="fieldset">

                <h3><legend class="legend"><span>Write your brand</span></legend></h3><br />
                <h4><div class="field note no-label">Brand...</div></h4>

                <div class="field name">
                    <label class="label" for="nameBrand"><span>Name*</span></label>
                    <div class="control">
                        <input data-bind="value: nameBrand" required="true" name="nameBrand" id="nameBrand" title="Name" value="Name" class="input-text" type="text" />
                    </div>
                </div>

                <div class="field logotext">
                    <label class="label" for="logo"><span>Logo</span></label>
                    <div class="control">
                        <input data-bind="value: logo" name="logo" id="logo" title="logo" value="logo" class="input-text" type="text" />
                    </div>
                </div>

                <div class="field description">
                    <label class="label" for="description"><span>Description*</span></label>
                    <div class="control">
                        <textarea data-bind="value: description" required="true" minlength="10" name="description" id="description" title="Description" class="input-text" cols="5" rows="3" ></textarea>
                    </div>
                </div>

            </fieldset>

            <div class="actions-toolbar">
                <div class="primary">
                    <input type="hidden" name="hideit" id="hideit" value="" />
                    <button id="submit" type="submit" title="Submit" class="action submit primary">
                        <span>Submit</span>
                    </button>
                </div>
            </div>
        </form>

    </div>
</div>

