<?php
    $con = $this->congratulationText();
    ?>
    <h1><p style="color:#33D7FF"><?=$con?></p></h1>

<?php
    $list = $this->getList()->getItems();
    foreach ($list as $brand): ?>
        <pre>
            <h3><a href="view/view/id/<?=$brand->getBrand_id()?>"><?=$brand->getName()?></a></h3>
        </pre>
    <?php endforeach; ?>

