<?php
/* @var Dmytro\FormBrand\Block\FormBrand $block */
?>
<div data-bind="scope: 'form-brand-scope'">
    <!-- ko template: getTemplate() --><!-- /ko -->
</div>

<script type="text/x-magento-init">
{
    "*": {
        "Magento_Ui/js/core/app": {
            "components": {
                "form-brand-scope": {
                    "component": "Dmytro_FormBrand/js/formbrand",
                    "template" : "Dmytro_FormBrand/formbrand"
                }
            }
        }
    }
}
</script>

